@import 'inter-ui/inter.css';
@import '@flaticon/flaticon-uicons/css/all/all';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", "system-ui";
}

html, body {
    min-height: 100vh;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%), url('$lib/images/bg.png') top no-repeat;
    background-size: cover;
    background-position: 0;
    background-attachment: fixed;
}

@media (max-width: 640px) {
    body {
        background: white;
    }
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    background: linear-gradient(60deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%), url('$lib/images/header.png'), linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}